@page "/"
@using cliente.Services
@using cliente.Models
@inject ApiService ApiService

<PageTitle>Inicio</PageTitle>

<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center">Lista de productos </h1>
        </div>
    </div>
@if (datos.Response.Count > 0)
{
        <div class="d-flex flex-wrap gap-4 justify-content-start">
            @foreach (var producto in datos.Response)
            {
                <div class="carta-home">
                    <div class="card h-100">
                        <img src="@producto.ImagenUrl" class="card-img-top" alt="Imagen de @producto.Nombre">
                        <div class="card-body">
                            <h5 class="card-title">@producto.Nombre</h5>
                            <p class="card-text">@producto.Descripcion</p>
                            <p class="card-text"><strong>Stock:</strong> @producto.Stock unidades</p>
                            <p class="card-text text-success"><strong>Precio:</strong> @producto.Precio.ToString()</p>
                            <div class="d-grid gap-2">
                                @if(ApiService.Compra != null){
                                <div>
                                    <button type="button">-</button>
                                    <input type="number" value="0" name="" id="">
                                    <button type="button">-</button>
                                </div>
                                <button type="button" class="btn btn-primary"  >Agregar Carrito</button>
                                }else{
                                <button type="button" class="btn btn-primary" @onclick="InicairCarrito">Iniciar compra</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error al cargar los productos</h4>
        <p>@datos.Message</p>
    </div>

}
</div>



@code {
    private DatosRespuesta<List<Producto>> datos ;
    private string error = null;

    protected override async Task OnInitializedAsync()
    {
        await ObtenerDatosDelServidor();
    }

    private async Task ObtenerDatosDelServidor()
    {
        try
        {
            datos = await ApiService.ObtenerProductos();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }

    }

    private async Task InicairCarrito(){
        try{
            await ApiService.IniciarCarrito();
        }
        catch (Exception ex){
            Console.WriteLine($"Error al Iniciar al carrito: {ex.Message}");
        }
    }
}
