@using cliente.Models
@using cliente.shared
@using cliente.Services

@page "/catalogo"
@inject ApiService Api
@inject CarritoService Carrito

<h1 class="titulo-catalogo">Catálogo de Productos Apple</h1>

@if (!string.IsNullOrEmpty(mensajeAlerta))
{
    <div class="alerta-exito">
        @mensajeAlerta
    </div>
}

@if (productos == null)
{
    <p>Cargando productos...</p>
}
else if (productos.Count == 0)
{   
    <p>No hay productos disponibles.</p>
}

else
{
    <div class="grid-productos">
        @foreach (var Producto in productos)
        {
            <div class="card-producto">
                <img src="@Producto.ImagenUrl" alt="@Producto.Nombre" width="200"/>
                <h3>@Producto.Nombre</h3>
                <p>@Producto.Descripcion</p>
                <p><strong>Precio:</strong> $@Producto.Precio</p>
                <p><strong>Stock:</strong> @Producto.Stock unidades</p>
                <p>
                </p>

                <button @onclick="@(async () => await AgregarAlCarrito(Producto))" 
                        disabled="@(!PuedeAgregar(Producto))"
                        class="boton-agregar">
                    Agregar al carrito
                </button>
                <p class="mensaje-agregado" style="display:none;">Producto agregado al carrito</p>
            </div>
        }
    </div>
}

@code {
    List<ProductoDto> productos;
    string mensajeAlerta;

    protected override async Task OnInitializedAsync()
    {
        var productosApi = await Api.ObtenerProductos();
        productos = productosApi.Select(p => new ProductoDto
        {
            Id = p.Id,
            Nombre = p.Nombre,
            Descripcion = p.Descripcion,
            Precio = p.Precio,
            Stock = p.Stock,
            ImagenUrl = p.ImagenUrl
        }).ToList();
    }
   async Task AgregarAlCarrito(ProductoDto dto)
{
    var producto = new Producto
    {
        Id = dto.Id,
        Nombre = dto.Nombre,
        Descripcion = dto.Descripcion,
        Precio = dto.Precio,
        Stock = dto.Stock,
        ImagenUrl = dto.ImagenUrl
    };

    Carrito.AgregarProducto(producto);

    var productoActual = productos.FirstOrDefault(p => p.Id == dto.Id);
    if (productoActual != null && productoActual.Stock > 0)
    {
        productoActual.Stock--;
    }
    mensajeAlerta = $"{producto.Nombre} agregado al carrito ✅";

    StateHasChanged();

    await Task.Delay(3000);
    mensajeAlerta = null;
    StateHasChanged();
}

    bool PuedeAgregar(ProductoDto p) => p.Stock > 0;

    public class ProductoDto
    {
        public int Id { get; set; }
        public string Nombre { get; set; }
        public string Descripcion { get; set; }
        public decimal Precio { get; set; }
        public int Stock { get; set; }
        public string ImagenUrl { get; set; }
    }
}

